Game/Library/
Game/Temp/
Game/obj/
Game/Assets/Materials.meta
.csv$
.csv.meta$
/Debug/
*Debug/
ReviewProject/Debug/
.vs/
.vs/**
*.suo
*.db
*.ipch

*.d 
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la

# Executables
*.exe
*.out
*.app